<div class="flex flex-col align-middle justify-center">
  <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white mt-2 ml-2">All products</h1>
  <div class="items-center justify-between block sm:flex md:divide-x md:divide-gray-100 dark:divide-gray-700">
    <div class="flex items-center mb-4 sm:mb-0">

      <div class="flex items-center w-full sm:justify-end">

      </div>
    </div>

    <%= link_to new_admin_product_path do %>
      <button id="createProductButton" class="text-white bg-blue-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800" type="button" data-drawer-target="drawer-create-product-default" data-drawer-show="drawer-create-product-default" aria-controls="drawer-create-product-default" data-drawer-placement="right">
        Add new product
      </button>
    <% end %>
  </div>
  <div class="overflow-x-auto">
    <div class="inline-block min-w-full align-middle">
      <div class="overflow-hidden shadow">
        <div class="m-4">
          <table id="products-datatable" data-source="<%= admin_products_path(format: :json) %>">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Category</th>
              <th>Description</th>
              <th>Price</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
